.pointer {
  cursor: pointer;
}
.zoom {
  transition: transform 0.1s;
}
.zoom:hover {
  transform: scale(1.05);
  transition: all .2s;
  -webkit-transition: all .1s;
  -moz-transition: all .2s;
}

.Hover{
  opacity: 0.8;
  &:hover{
    opacity:1;
  }
}

.noScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.noScrollBar::-webkit-scrollbar {
  display: none;  /* for IE, Edge and Firefox */
}

.tilt-shaking {
  animation: tilt-shaking 1.5s infinite;
  transform-origin: center;
  display: inline-block;
}

.tilt-shaking:hover {
  animation-play-state: paused;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(5deg); }
  10% { transform: rotate(0deg); }
  15% { transform: rotate(-5deg); }
  20% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}